.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    z-index: 113;

    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.bg-dark .head .post-block-tab-list > li > a {
    color: #ffffff;
}

.sidebar-lps{

    .calendar-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        // margin-bottom: 10px;
        border-bottom: 1px solid #ebebeb;
        height: 70px;
    
        .time {
            font-size: 0.8125rem;
            color: #316fbc;
            width: 50px;
            font-weight: 700;
            border-right: 1px solid #d1d1d1;
            padding: 3px 0;
        }
    
        .name {
            width: calc(100% - 50px);
            padding-left: 10px;
            font-weight: 500;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    .done{
        
        background: $blue;
        color: #ffffff;

        .time{
            color: #ffffff;
        }
    }

}   

// Tat den
.lightSwitcher {
    z-index:113;
    padding:0;
    margin:0;
    color:#99FF33;
    outline:none;
    text-decoration:none;
    background: #316fbc;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    float: right;
    padding: 5px 10px;
    margin-top: 5px;

    &:hover, &:active, &:link, &:visited{
        text-decoration:none;
        color:#99FF00;
        // color: #fff;
        
    }    
}

#command {
    z-index:113;
    position:relative;
    padding:0;
    margin:0px;
    text-align:center;
}
#shadow {
    background-image:url('/img/light-off.png');
    left:0;
    top:0;
    width:100%;
    z-index:100;
    position:absolute;
    height: 677px;
    display: none;
}
.turnedOff {
    color:#ffff00;

}

.lps{
    min-height: 200px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

h4.title{
        text-align: center;
}

.nen-trang {
    background: rgba(254, 254, 254, 0.63) !important;
    border: 2px;
    overflow: hidden;
}

.title-truc-tuyen {
    float: left;
    line-height: 24px;
    font-weight: 600;
    text-transform: capitalize;
    color: #194081;
}

.blink {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
    margin-left: 2px;
    padding: 2px;
}

@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}

.title-thoi-su{
    text-align: right;
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: white;
    z-index: 5;
}

@media #{$large-mobile}{

    .container{
        // margin: 0;
        width: 100%;
    }
    .box-mobile{
        padding: 0px;
    }
}

.lps{
    .lich-ps{
        padding: 10px 10px 5px 10px;
    }
    .sidebar-lps{
        overflow: scroll;
        text-align: left;
        max-height: 350px;

    }
}

#box-tnb{
    .body{

        overflow: scroll;
        text-align: left;
        max-height: 560px;

        .number-tnb{
            color: red;
            text-shadow: 1px 1px 1px #ccc;
            font-size: 1.5em;
        }

    }

}

th{
    .number-tnb-red{
        color: red;
        text-shadow: 1px 1px 1px #ccc;
        font-size: 1.5em;
    }

    .number-tnb-blue{
        color: blue;
        text-shadow: 1px 1px 1px #ccc;
        font-size: 1.5em;
    }
}